#ladder{
    position:fixed;
}

.color{
    width:100vw;
    height:100vh;
    background-color: blue;
}

.color2{
    width:100vw;
    height:100vh;
    background-color: rgb(28, 129, 197);
}

.color3{
    width:100vw;
    height:100vh;
    background-color: rgb(144, 237, 203);
}